{{!-- _card.hbs --}}

<div class="card">
	<div class="card__title">
		{{title}}
	</div>

	<div class="card__picture">
		<img src="{{image}}">
	</div>

	<div class="card__content">
		{{{content}}}
	</div>
</div>