// _card.scss


.card {
	width: 100%;
	min-height: 6em;
	border: solid $color1 2px;
	overflow: hidden;

	height: 100%;
	

	.card__title {
		font-size: 2em;
		text-align: center;
	}

	.card__picture{

	}

	.card__content{
		padding: 1em;

	}

}