// main.scss
$color1: #AA9BB2;
$color2: #B53636;
$color3: #C5AFA4;
$black: #000000;
$white: #FFFFFF;

@import url(http://fonts.googleapis.com/css?family=Ubuntu);

@import
"layout",
"reset",
"components/button/button",
"components/card/card",
"components/navbar/navbar";

body {
	color: black;
	background: $white;
}

footer {
	position: absolute;
	bottom: 0;
}

.content {
	& > * + * {
		margin-top: 20px;
	}

	a {
		text-decoration: none;
	}
}

.big_letters {
	strong {
		color: $color2;
	}
}